
html, body 
    font-family: 'Ubuntu', sans-serif;
    // font-family: 'Open Sans', sans-serif;
    // font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    height: 100%;
    margin: 0;

