
koamaru = #392759
slate_blue =  #6874E8
light_slate_blue = #9EA6F0
lavender = #B47AEA
purple_navy = #5E548E
aquamarine = #5DD9C1
light_green = #21D19F
sea = #40BCD8
teal = #048A81
pink = #EF5373    
tango = #EF767A
salmon = #FF987E
eucalyptus = #4CE0B3
yellow = #F6B540
rose = #D81E5B
amazonite = #00BFB2
razzmic = #8A4F7D
sunny = #EDFF7A
mindaro = #DDFC74
bittersweet = #F27059

colors = {
    koamaru: koamaru
    slate_blue: slate_blue
    light_slate_blue: light_slate_blue
    lavender: lavender
    purple_navy: purple_navy
    aquamarine: aquamarine
    light_green: light_green
    salmon: salmon
    yellow: yellow
    rose: rose
    amazonite: amazonite
    razzmic: razzmic
    sunny: sunny
    mindaro: mindaro
    bittersweet: bittersweet
}


